config DUET
	bool "Core Duet synergy framework support"

	help
	  Duet is a framework aiming to reduce the IO needed for maintenance
	  work. By exposing page cache events to maintenance tasks, it allows
	  them to detect synergies with other processes, and leverage them to
	  perform maintenance work opportunistically, out of order, while the
	  data is available in the page cache. In the core of the duet system
	  lie hooks into the page cache layer, that inform the framework on
	  the addition or removal of pages from the page cache.

	  To compile duet support as a module, choose M here. The module will
	  be called duet.

	  If unsure, say N.

config DUET_STATS
	bool "Duet stats support"
	depends on DUET

	help
	  This option enabled support for keeping statistics about the data
	  structures used internally.

	  If unsure, say N.

config DUET_DEBUG
	bool "Duet debugging support"
	depends on DUET
	help
	  Enable run-time debugging support for the duet framework. This may
	  enable additional and expensive checks with negative impact on
	  performance, or export extra information via sysfs.

	  If unsure, say N.
