config DUET
	tristate "Core Duet synergy framework support"

	help
	  Duet is a framework that aims to reduce the storage load due to
	  maintenance work meant to be performed in the background. It does
	  this by detecting synergies between the foreground workload and each
	  maintenance tasks, and leveraging them to perform maintenance work
	  opportunistically, out of order, while the data is already accessed.
	  In the core of the duet system lie hooks into the block, file system,
	  and page cache layer.

	  This option enables the basic framework infrastructure. To enable
	  hooks at different levels, you need to enable the DUET_BLOCK,
	  DUET_<FS>, and DUET_CACHE options.

	  To compile duet support as a module, choose M here. The module will
	  be called duet.

	  If unsure, say N.

config DUET_SCHED
	bool "Duet synergy framework support for the I/O scheduler layer"
	depends on DUET

	help
	  This option enables Duet hook support for the I/O scheduler layer.
	  The hooks offered can be found in linux/duet.h

	  This option requires support for the duet core framework
	  (CONFIG_DUET).

	  If unsure, say N.

config DUET_FS
	bool "Duet synergy framework support for the filesystem layer"
	depends on DUET

	help
	  This option enables Duet hook support for the file system layer.
	  The hooks offered can be found in linux/duet.h

	  This option requires support for the duet core framework
	  (CONFIG_DUET).

	  If unsure, say N.

config DUET_CACHE
	bool "Duet synergy framework support for the page cache layer"
	depends on DUET

	help
	  This option enables Duet hook support at the page cache layer.
	  The hooks offered can be found in linux/duet.h

	  This option requires support for the duet core framework
	  (CONFIG_DUET).

	  If unsure, say N.

config DUET_TREE_STATS
	bool "Duet tree stats support"
	depends on DUET

	help
	  This option enabled support for keeping statistics about
	  memory consumption of trees (BitTree and NodeTree).

	  If unsure, say N.

config DUET_DEBUG
	bool "Duet debugging support"
	depends on DUET
	help
	  Enable run-time debugging support for the duet framework. This may
	  enable additional and expensive checks with negative impact on
	  performance, or export extra information via sysfs.

	  If unsure, say N.
